body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    
}
h1{
    background-color: #ccc;
    color: #061761;
    text-align: center;
    font-size: 36px;
    border-bottom: 3px solid;
}
h2{
    font-size: 30px;
    padding: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu{
    text-align: center;
}
.menu li{
    list-style-type: none;
    background-color: #ccc;
    display: inline-block;
    padding: 0;
}
.menu a{
    padding: 16px;
    display: inline-block;
}
.menu a:hover{
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
.imgJean{
    float:right;
    width: 250px;
}