* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(59, 197, 221);
}

main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(58, 42, 42);
}